// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as HaiAgents from "../../../index.js";

export declare namespace SessionFilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SessionFilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SessionFilesClient.Options>;

    constructor(options: SessionFilesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List files on the session's pod (allowlisted roots only), newest first, paged via the cursor.
     *
     * @param {HaiAgents.ListFilesRequest} request
     * @param {SessionFilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.sessionFiles.listFiles({
     *         sessionId: "session_id"
     *     })
     */
    public listFiles(
        request: HaiAgents.ListFilesRequest,
        requestOptions?: SessionFilesClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.ListFilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listFiles(request, requestOptions));
    }

    private async __listFiles(
        request: HaiAgents.ListFilesRequest,
        requestOptions?: SessionFilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.ListFilesResponse>> {
        const { sessionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/sessions/${core.url.encodePathParam(sessionId)}/files/list_files`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.ListFilesRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ListFilesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v2/sessions/{session_id}/files/list_files",
        );
    }

    /**
     * Read a file from the session's pod, returned base64-encoded (size-capped).
     *
     * @param {HaiAgents.ReadFileRequest} request
     * @param {SessionFilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.sessionFiles.readFile({
     *         sessionId: "session_id",
     *         path: "path"
     *     })
     */
    public readFile(
        request: HaiAgents.ReadFileRequest,
        requestOptions?: SessionFilesClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.ReadFileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__readFile(request, requestOptions));
    }

    private async __readFile(
        request: HaiAgents.ReadFileRequest,
        requestOptions?: SessionFilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.ReadFileResponse>> {
        const { sessionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/sessions/${core.url.encodePathParam(sessionId)}/files/read_file`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.ReadFileRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ReadFileResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v2/sessions/{session_id}/files/read_file",
        );
    }

    /**
     * Write base64-encoded content to a file on the session's pod (size-capped).
     *
     * @param {HaiAgents.WriteFileRequest} request
     * @param {SessionFilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.sessionFiles.writeFile({
     *         sessionId: "session_id",
     *         path: "path",
     *         contentBase64: "content_base64"
     *     })
     */
    public writeFile(
        request: HaiAgents.WriteFileRequest,
        requestOptions?: SessionFilesClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.WriteFileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__writeFile(request, requestOptions));
    }

    private async __writeFile(
        request: HaiAgents.WriteFileRequest,
        requestOptions?: SessionFilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.WriteFileResponse>> {
        const { sessionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/sessions/${core.url.encodePathParam(sessionId)}/files/write_file`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.WriteFileRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.WriteFileResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/api/v2/sessions/{session_id}/files/write_file",
        );
    }
}
