// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as HaiAgents from "../../../index.js";

export declare namespace EnvironmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EnvironmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EnvironmentsClient.Options>;

    constructor(options: EnvironmentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List reserved + caller's org environments. Unauthenticated callers see reserved ``h/`` environments only.
     *
     * @param {HaiAgents.ListEnvironmentsRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.environments.listEnvironments()
     */
    public listEnvironments(
        request: HaiAgents.ListEnvironmentsRequest = {},
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.EnvironmentPage> {
        return core.HttpResponsePromise.fromPromise(this.__listEnvironments(request, requestOptions));
    }

    private async __listEnvironments(
        request: HaiAgents.ListEnvironmentsRequest = {},
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.EnvironmentPage>> {
        const { id, kind, search, page, size, sort } = request;
        const _queryParams: Record<string, unknown> = {
            id,
            kind:
                kind !== undefined
                    ? serializers.EnvironmentKind.jsonOrThrow(kind, {
                          unrecognizedObjectKeys: "passthrough",
                          allowUnrecognizedUnionMembers: true,
                          allowUnrecognizedEnumValues: true,
                          omitUndefined: true,
                      })
                    : undefined,
            search,
            page,
            size,
            sort: sort !== undefined ? toJson(sort) : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                "api/v2/environments",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EnvironmentPage.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v2/environments");
    }

    /**
     * Create an environment.
     *
     * @param {HaiAgents.Browser} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.environments.createEnvironment({
     *         id: "id"
     *     })
     */
    public createEnvironment(
        request: HaiAgents.Browser,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.Environment> {
        return core.HttpResponsePromise.fromPromise(this.__createEnvironment(request, requestOptions));
    }

    private async __createEnvironment(
        request: HaiAgents.Browser,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.Environment>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                "api/v2/environments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.Browser.jsonOrThrow(request, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Environment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v2/environments");
    }

    /**
     * Fetch by identifier; 404 if not visible. ``:path`` so slash-containing ids round-trip.
     *
     * @param {HaiAgents.GetEnvironmentRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.environments.getEnvironment({
     *         id: "id"
     *     })
     */
    public getEnvironment(
        request: HaiAgents.GetEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.Environment> {
        return core.HttpResponsePromise.fromPromise(this.__getEnvironment(request, requestOptions));
    }

    private async __getEnvironment(
        request: HaiAgents.GetEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.Environment>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/environments/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Environment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v2/environments/{id}");
    }

    /**
     * Replace the environment spec.
     *
     * @param {HaiAgents.UpdateEnvironmentRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.environments.updateEnvironment({
     *         id: "id",
     *         body: {
     *             id: "id"
     *         }
     *     })
     */
    public updateEnvironment(
        request: HaiAgents.UpdateEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.Environment> {
        return core.HttpResponsePromise.fromPromise(this.__updateEnvironment(request, requestOptions));
    }

    private async __updateEnvironment(
        request: HaiAgents.UpdateEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.Environment>> {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/environments/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.Browser.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Environment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/api/v2/environments/{id}");
    }

    /**
     * Delete by identifier. Reserved rows: H employee only.
     *
     * @param {HaiAgents.DeleteEnvironmentRequest} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.environments.deleteEnvironment({
     *         id: "id"
     *     })
     */
    public deleteEnvironment(
        request: HaiAgents.DeleteEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteEnvironment(request, requestOptions));
    }

    private async __deleteEnvironment(
        request: HaiAgents.DeleteEnvironmentRequest,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/environments/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/api/v2/environments/{id}");
    }

    /**
     * Partially update an environment spec; only provided fields change.
     *
     * @param {HaiAgents.PatchEnvironment} request
     * @param {EnvironmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link HaiAgents.UnprocessableEntityError}
     *
     * @example
     *     await client.environments.patchEnvironment({
     *         id: "id"
     *     })
     */
    public patchEnvironment(
        request: HaiAgents.PatchEnvironment,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): core.HttpResponsePromise<HaiAgents.Environment> {
        return core.HttpResponsePromise.fromPromise(this.__patchEnvironment(request, requestOptions));
    }

    private async __patchEnvironment(
        request: HaiAgents.PatchEnvironment,
        requestOptions?: EnvironmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<HaiAgents.Environment>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.HaiAgentsEnvironment.Eu,
                `api/v2/environments/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.PatchEnvironment.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Environment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new HaiAgents.UnprocessableEntityError(
                        serializers.HttpValidationError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.HaiAgentsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/api/v2/environments/{id}");
    }
}
